#photos-holder {
    padding: 91px 8px 8px 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

#image-gallery-holder {
    padding: 4px;
    overflow-y: scroll;
    height: 100%;
    background-color: white;
}

#image-gallery-holder::-webkit-scrollbar-track {
    display: none;
}

#image-gallery-holder::-webkit-scrollbar {
    display: none;
}

#image-gallery-holder::-webkit-scrollbar-thumb {
    display: none;
}

#image-gallery-bottom-shade {
    position: absolute;
    z-index: 100;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: transparent;
    background: -webkit-linear-gradient(transparent, white);
    background: -o-linear-gradient(transparent, white);
    background: -moz-linear-gradient(transparent, white);
    background: linear-gradient(transparent, white);
    overflow-x: hidden;
}