#photos-holder {
    padding: 91px 8px 8px 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.image-gallery-holder-col {
    height: 100%;
    width: 33%;
    display: inline-block;
    background-color: white;
}

.image-gallery-holder-row {
    white-space: nowrap;
}

.ng-image-gallery-thumbnails div {
    width: 100% !important;
}