<div id="about-background">
    <!-- TODO make these clickable to expand a modal of more info on member -->
    <div id="about-us-member-profile-holder">
        <h3 id="about-us-page-header" class="custom-page-header">
            Members
        </h3>
        <div id="about-us-member-profile" ng-repeat="member in memberArray" ng-click="selectMember(member)">
            <img ng-src="{{member.image}}"/>
            <span id="about-us-member-profile-name">{{member.name}}</span>
            <span id="about-us-member-profile-position">{{member.position}}</span>
        </div>
    </div>

    <h3 id="about-us-sub-header" class="custom-page-header">
        About Us
    </h3>
    <div class="text-center" id="about-us-paragraph-holder">
        <div class="about-us-paragraph">
            <p>
                KASPer (Korean & American Student Performers) is an organization of University of Wisconsin - Madison
                that is split into into a dance crew and a production crew.
            </p>
            <p>
                KASPer Productions are the creative minds of KASPer. We are responsible for all photography and videography,
                and comprised of talented individuals with a variety of specialities.
            </p>
            <p class="text-center about-us-paragraph-contact">
                Enjoy our work? Interested in our services?
                <br>
                <a class="btn btn-default" ui-sref="dashboard.contact">
                    Contact us
                </a>
            </p>
        </div>
    </div>

    <div class="absolute-custom-footer text-center" id="custom-about-footer">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4"></div>
                <div class="footer-col col-md-4">
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/kasper.uwmadison"
                               class="btn-social btn-outline fa-stack white-text custom-footer-icon">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-fw fa-facebook fa-stack-1x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/kasperuw/"
                               class="btn-social btn-outline fa-stack white-text custom-footer-icon">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-fw fa-instagram fa-stack-1x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC5PvgI9jevrQ6sRSFY1xgxA"
                               class="btn-social btn-outline fa-stack white-text custom-footer-icon">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-fw fa-youtube-play fa-stack-1x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 white-text all-text-uppercase default-cursor">
                    Copyright &copy; UW-Madison KASPer Productions 2017
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="memberModal.html">
    <div id="member-modal-div">
        <img id="member-modal-img" ng-src="{{selectedMember.image}}"/>
        <div id="member-modal-info-holder">
            <span>{{selectedMember.name}}</span>
            <span>{{selectedMember.position}}</span>
        </div>
    </div>
</script>