#contact-background {
    padding: 91px 8px 8px 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3)),
            url("../../assets/contact-background.png");
    overflow-x: hidden;
}

.contact-input-fields {
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.contact-input {
    border: none;
    border-radius: 0;
}

.contact-input-fields-message-child {
    border: none;
    min-height: 100px;
    border-radius: 0;
}

.contact-input-fields-button-child {
    background: transparent;
    text-transform: uppercase;
    border: 1px solid white;
    text-align: center;
    color: white;
    margin: 2px;
    width: 100%;
    border-radius: 0;
}

.contact-input-fields-button-child:hover {
    background: white;
    color: black
}

.contact-input-fields-button-child:focus {
    outline: none;
}

.contact-input-fields input:focus {
    outline: none;
}

@media (max-height: 610px){
    #custom-contact-footer {
        position: static;
    }
}

#contact-modal-div {
    background-color: black;
    text-align: center;
    border-radius: 2px;
    padding: 12px;
}

#contact-modal-icon-bad {
    color: red;
    font-size: larger;
}

#contact-modal-icon-good {
    color: green;
    font-size: larger;
}

#contact-modal-text {
    color: white;
    font-size: larger;
}
